#sidebar-container {
    display: grid;
    grid-template-rows: 3.5em auto 3.5em; /* If you change these values, make sure to change resizeContainers in window.ts as well*/
    grid-row-gap: 0.05em;

    background-color: var(--default-separator-color);
}